matrix/
cuMat/CMakeFiles
cuMat/CMakeCache.txt
cuMat/cmake_install.cmake
cuMat/libcumat.so
cuMat/memo.txt
cuMat/html
cuMat/latex
cuMat/Doxyfile
cuMat/Doxyfile.bak
cuMat/*.o
cuMat/test1
cuMat/test2
html/
latex/
Doxyfile
Doxyfile.bak